.error-container.center
  .error-code#error-code
    500
  .message#message
    Well, you broke the internet!
  .sub-message#sub-message
    Just kidding, looks like we have an internal issue, please try again in couple minutes
  = link_to "Return Home", root_path
